* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  width: 500px;
  margin: auto;
}
.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.4em;
}

.register-form > div > input {
  background-color: #fff;
  width: 220px;
  height: 50px;
  outline: none;
  border: 1px solid rgb(75, 75, 75);
  padding: 1em;
  border-radius: 2px;
}

.submit-register {
  border-radius: 2px;
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 1em 2.5em;
  margin: 3em auto;
  border: 1px solid rgb(75, 75, 75);
}
